RewriteEngine on

# Remove .php from all files if the files are not folders or file name

RewriteCond %(REQUEST_FILENAME) !-d
RewriteCond %(REQUEST_FILENAME) !-f


# Allow to change the page name and include the page id

# RewriteRule ^([-\w]+)/(\d+)$ product-details.php?product_id=$1 [NC,L]

RewriteRule ^products/(\d+)$ product-details.php?product_id=$1 [NC,L]
RewriteRule ^(products)$ product-details.php [NC,L]


RewriteRule ^categories/(\d+)$ categories.php?category_id=$1 [NC,L]
RewriteRule ^categories/(\d+)/([-\w]+)$ categories.php?category_id=$1&title=$2 [NC,L]
RewriteRule ^(categories)$ $1.php [NC,L]


RewriteRule ^([^\.]+)$ $1.php [NC]
